In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('customer.csv')
df = df.iloc[:,2:]

In [9]:
df.sample(5)

     review education purchased
21  Average        PG        No
2      Good        PG        No
14     Poor        PG       Yes
30  Average        UG        No
37  Average        PG       Yes

In [11]:
X = df.iloc[:,0:2]

In [15]:
X.head()

    review education
0  Average    School
1     Poor        UG
2     Good        PG
3     Good        PG
4  Average        UG

In [17]:
Y = df.iloc[:, -1]

In [19]:
Y.head()

0    No
1    No
2    No
3    No
4    No
Name: purchased, dtype: object

In [21]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 0)

In [33]:
from sklearn.preprocessing import OrdinalEncoder

In [39]:
oe = OrdinalEncoder(categories = [['Poor','Average','Good'],['School','UG','PG']])

In [41]:
oe.fit_transform(X_train)

array([[2., 2.],
       [0., 0.],
       [0., 2.],
       [1., 0.],
       [2., 0.],
       [0., 0.],
       [0., 2.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [1., 0.],
       [0., 1.],
       [2., 0.],
       [2., 1.],
       [0., 1.],
       [0., 0.],
       [1., 2.],
       [1., 2.],
       [2., 0.],
       [2., 0.],
       [2., 1.],
       [1., 2.],
       [0., 2.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [1., 0.],
       [2., 2.],
       [1., 1.]])

In [45]:
oe.transform(X_test)

array([[0., 0.],
       [2., 1.],
       [2., 1.],
       [2., 2.],
       [2., 2.],
       [0., 2.],
       [2., 0.],
       [0., 0.],
       [0., 2.],
       [1., 1.]])

In [53]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [55]:
from sklearn.preprocessing import LabelEncoder

In [57]:
le = LabelEncoder()

In [ ]:
le.fit_transform(Y_train)